{% extends 'base.html' %}

{% block pageheading %}Your Classes{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Subject</th>
            <th>Level</th>
            <th>Time</th>
            <th>Teacher</th>
            <th>Email</th>
        </tr>
        {% for class in classes %}
        <tr>
            <td>{{ class[1] }}</td>
            <td>{{ class[2] }}</td>
            <td>{{ class[3] }}</td>
            <td>{{ class[4] }} {{ class[5] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

